body {
    margin: 0;
    padding: 0;
    background-color: #E3C3FB;
    color: white;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 10;
}
