body {
    margin: 0;
    padding: 0;
    background-color: #E3C3FB;
    color: white;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

link {
    text-align: center;
}
